/!ldw.gb/.vs
/!ldw.gb/ines0.09.suo
/!ldw.ines/.vs
/!ldw.gb/gb/.vs
/!ldw.gb/gb/Debug
/!ldw.gb/gb/Release
/!ldw.ines/ipch
/!ldw.ines/ines/Release
/!ldw.ines/bin/ines.lib
/!ldw.ines/bin/ines.exp
/!ldw.gb/gb/bin/gb.lib
/!ldw.gb/gb/bin/gb.exp
/!ldw.gb/gb/gb.v12.suo
/!ldw.gb/gb/gb.vcxproj.user
/!ldw.ines/ines/ines.vcxproj.user
/!ldw.ines/ines0.09.sdf
/!ldw.ines/bin
/!ldw.ines/ines0.09.suo
/!ldw.ines/bin/ines.ldw
/!ldw.sms/bin
/!ldw.sms/sms/Release
/!ldw.sms/sms/sms.vcxproj.user
/!ldw.sms/.vs/sms/v15/.suo
/!ldw.sms/.vs/sms/v15/ipch/AutoPCH/c6bd5091066138e9/SMS.ipch
/!ldw.sms/.vs/sms/v15/Browse.VC.db
